<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Bucket Registration</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css') }}">
</head>

<body>
<header class="navbar">
  <form action="/bucket_success" method="post" enctype="multipart/form-data" >
       <span class="btn btn-default btn-file">
        Bucket Name <input type="text" name="name">
      </span>
	<span class="btn btn-default btn-file">
        Org Code <input type="text" name="org_code">
      </span>
	<input type="submit" value="Submit details" class="btn btn-primary">
  </form>


</header>

</body>
</html>
