<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Deleted</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css') }}">
</head>

<body>
<style>
a:link, a:visited {
  background-color: #808080;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
</style>
<header class="navbar">
  <form action="/">
	Deleted Successfully   	
	<a href= {{ url_for('home') }}>Return to home</a>
	
  </form>


</header>

</body>
</html>
