
<html>
<body>

<form action="/request" method="POST">
<span class="btn btn-default btn-file">
        Username <input type="text" name="table_name">
      </span>

<select name="Organisations">
  <option value="">Select a Organisation ID:</option>
  <option value="76">76</option>
  <option value="78">78</option>
  <option value="79">79</option>
  <option value="87">87</option>
  </select>
<input type="hidden" name="Duplicate" default="">
<input type="hidden" name="Times_Visited" default="">
<input type="submit" value="Login" class="btn btn-primary">
</form>

</body>
</html> 
