<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Organisation Registration</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css') }}">
</head>

<body>
<header class="navbar">
  <form action="/org_success" method="post" enctype="multipart/form-data" >
       <span class="btn btn-default btn-file">
        Name <input type="text" name="name">
      </span>
	<span class="btn btn-default btn-file">
        Email <input type="text" name="email">
      </span>
	<span class="btn btn-default btn-file">
        Logo <input type="text" name="logo">
      </span>
	<span class="btn btn-default btn-file">
        Org Key <input type="text" name="orgkey">
      </span>
	<input type="submit" value="Submit details" class="btn btn-primary">
  </form>


</header>

</body>
</html>
