<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New User Registration</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css') }}">
</head>

<body>
<header class="navbar">
  <form action="/user_new" method="post" enctype="multipart/form-data" >
       <span class="btn btn-default btn-file">
        Username <input type="text" name="username">
      </span>
	<span class="btn btn-default btn-file">
        Password <input type="text" name="password">
      </span>
	<span class="btn btn-default btn-file">
        Email <input type="text" name="email">
      </span>
	<span class="btn btn-default btn-file">
        Display Name <input type="text" name="display_name">
      </span>
	<span class="btn btn-default btn-file">
        Org Code <input type="text" name="orgcode">
      </span>
	
	<input type="submit" value="Submit details" class="btn btn-primary">
  </form>


</header>

</body>
</html>
